<div class="container">
	<div class="row">	

		<div class="list-users" ng-repeat="user in home.users">
		        <h1>Boleta: {{ user.id }}</h1>
			<h2>Película</h2>
			<p>Pelicula: {{ user.nombrepelicula }}</p>
			<p>Duracion: {{ user.duracionpelicula }} min</p>
			<p>Estreno: {{ user.tipoestreno }}</p>
			<h2>Cliente</h2>
			<p>Cliente: {{ user.nombrecliente }}</p>
			<p>DNI: {{ user.dnicliente }}</p>
			<h2>Más datos</h2>
			<p># de entradas: {{ user.cantidad }}</p>
			<p>Hora: {{ user.horapelicula }}</p>
			<p>Asiento(s): {{ user.asiento }}</p>
			<p>Tipo de pago: {{ user.tipopago }}</p>
			<p>Total: {{ user.montopago }}</p>
			<h1>-----------------------------------</h1>
		</div>

	</div>
</div>
